.map-decorator {
    position: relative;
    height: 80px;
    width: 100%;
    margin-top: -10px;
}

.map-decorator .white-bg {
    background-color: transparent;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 100%, 0 60%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.map-decorator .yellow-bg {
    background-color: #fdb913;
    clip-path: polygon(0 40%, 100% 100%, 0 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

/* .map-decorator .white-bg { */
.map-decorator .purple-bg {
    background-color: #291f71;
    clip-path: polygon(100% 30%, 100% 100%, 20% 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
}

.map-decorator .blue-bg {
    background-color: #b1d4e0;
    clip-path: polygon(0 40%, 100% 100%, 0 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.footer-section {
    font-size: 12px;
}
