.whatsapp-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #25d366;
    background-image: linear-gradient(147deg, #128c7e 0%, #25d366 74%);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
}

.whatsapp-button svg {
    height: 1.5em;
    fill: white;
}

.whatsapp-button:hover svg {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #25d366;
    background-image: linear-gradient(147deg, #128c7e 0%, #25d366 74%);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
    display: inline-block;
    white-space: nowrap;
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #128c7e;
    transform: rotate(45deg);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.whatsapp-button:hover .tooltip {
    top: -40px;
    opacity: 1;
    transition-duration: 0.3s;
}

.flow-button {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1000;
}
